<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: common-header">
    </head>
    <body>
        <div th:fragment="footer" style="margin-top: 32px;">
            <div class="container row justify-content-center">
                <div class="footer-bar">
                    &copy; DePaul CDM - SE 452 - Spring 2019 - Group 2
                </div>
            </div>
        </div>
     </body>
</html>